<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CameronNokes.com</title>
		<meta id="version" data-version="<%= version %>" data-env="<%= env %>" data-generated-date="<%= new Date() %>">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<base href="/">
		<!-- <link rel="icon" href="/images/favicon.ico" type="image/x-icon"> -->
		<!-- <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"> -->
		<link rel="stylesheet" type="text/css" href="/styles/main.css?v=<%= version %>">
		<link href='//fonts.googleapis.com/css?family=Hind:400,300,600|Montserrat:400,700' rel='stylesheet' type='text/css'>
	</head>

	<body>

		<!--[if lt IE 8]>
      		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      	<![endif]-->
      	<noscript>Javascript is required to view this site.</noscript>

		<main id="appRoot" role="main"></main>
	</body>

	<% if(env === 'dev') { %>
	
	<script type="text/javascript" src="http://localhost:8080/assets/vendor.bundle.js"></script>
	<script type="text/javascript" src="http://localhost:8080/assets/app.bundle.js?v=<%= version %>"></script>

	<% } else { %>

	<script type="text/javascript" src="/scripts/vendor.bundle.js"></script>
	<script type="text/javascript" src="/scripts/app.bundle.js?v=<%= version %>"></script>

	<% } %>
</html>